h.name {
    text-align: center;
    font-size: 50px;
    color: black;  
}

h.header {
 text-align: center;
 font-size: 40px;
 color: black;
}

p {
    text-align: center;
    font-size: 30px;
    color: black;
}

body.body {
    margin-bottom: 10px;
    width: 80%;
    align-items: center;
}



